<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="./common/head.js" data-title="company"></script>
  <div id="app" v-cloak>
    <div class="title">企业简介</div>
    <div class="titleList">
      <span v-for="(item,index) in type" @click="changeTable(index)" :style="{color:colors[index]}">{{ item.name}}</span>
    </div>
    <!-- <div class="companyBox">
      <div class="Photo">
        <img src="./../images/indexbg.png" alt="">
      </div>
    </div> -->
    <div class="comtent" v-html="content" v-if="!team">
    </div>
    <div v-if="team" class="menberBox" v-for="(item,index) in menberList" @click="to_menberInfo(index)">
      <div class="menberList">
        <div class="menberPhoto">
          <img v-bind:src="item.show_url" alt="">
        </div>
        <div class="menberIntroduce">
          <div>
            <span class="name">{{item.name}}</span>
            <span class="position">{{ item.station_name }}</span>
          </div>
          <div class="school" v-html="">
            <!-- {{ item.description }} -->
          </div>
          <!-- <div class="introduce">
                    主修油画，选修艺术史、室 内设计、国画、雕塑。主修油画，选修艺术史、室 内设计、国画、雕塑。主修油画，选修艺术史、室 内设计、国画、雕塑。主修油画，选修艺术史、室 内设计、国画、雕塑。主修油画，选修艺术史、室 内设计、国画、雕塑。
                </div>
                <div class="compolet">
                    <div class="competetitle">已完成项目:</div>
                    <div class="comInfo">达州银杏柏乐酒店、宜必思 连锁酒店、重庆·光宇戴斯...州银杏柏乐酒店、宜必思 连锁酒店、重庆·光宇戴斯.州银杏柏乐酒店、宜必思 连锁酒店、重庆·光宇戴斯.
                    </div>
                </div> -->
        </div>
      </div>
    </div>
  </div>

  <script src="./common/foot.js" data-title="company"></script>
  <script>
    let isteam = false;
    if (sessionStorage.getItem('menber')) {
      isteam = true;
    }
    let returnColor = (that) => {
      let colors = [];
      for (let i in that.types) {
        colors.push('#4D4D4D');
      }
      that.colors = colors;
    }

  

    var app = new Vue({
      el: '#app',
      data: {
        type: [],
        content: '',
        colors: [],
        team: false,
        menberList: [],
      },
      methods: {
        to_menberInfo: function (index) {
          window.location.href = './menberInfo.html?id=' + this.menberList[index].id;
        },
        changeTable(index) {
          let that = this;
          returnColor(that);
          if (index == 2) {
            that.team = true;
          } else {
            that.team = false;
            that.content = that.type[index].description;
          }

          that.colors[index] = '#C31022';
        }
      },
      beforeCreate: function () {
        let that = this;
        let id;
        returnColor(that);
        $.ajax({
          url: baseUrl + '/speechAndOverview/getSpeechAndOverviewByTypeId?type=',
          dataType: 'json',
          method: 'get',
          success: function (res) {
            console.log(res);
            that.type = res.result;
            that.content = that.type[0].description;
            if (!isteam) {
              that.colors[0] = '#C31022';
            }
          }
        })

        $.ajax({
          url: baseUrl + '/staff/getStaffById',
          dataType: 'json',
          method: 'get',
          success: function (res) {
            console.log(res);
            res.result = errorimg(res.result);
            that.menberList = [];
            that.menberList.push(...res.result);
          }
        })
      },
      created: function() {
        if (isteam) {
        returnColor(this);
        this.changeTable(2);
        }

        sessionStorage.setItem('menber','');
      }
    })
  </script>